.areas-section-title {
  color: #fffcf9;
  font-family: Avenir Next;
  font-style: normal;
  font-size: 55px;
  font-weight: 600;
  line-height: normal;
}
#areaWeCover
{
  height: auto;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/svg/tire.svg");
  background-color: #373e52;
  background-size: 100%;
  background-repeat: no-repeat!important;
  background-repeat: initial;
}
.area-cards
{
  background: none;
  display: grid;
  grid-template-columns : 1fr 1fr 1fr 1fr
}

@media (max-width:500px)
{
  #areaWeCover
{
  height: 60vh;
  
}

.area-cards{
  overflow-x: scroll;
  margin-left: 0;
  width: 98%;
padding-left: 0.4rem;
  background: none;
}

} 