.social-flex
{
    display: flex;
    gap: 0.5rem;
}

@media (max-width: 960px) {
.img-f{
    display:none;
}
.footer-social{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.footer-social-heading{
      text-align:center;
}
}

@media (max-width: 1024px){
    .footer-row  {
        display : flex ;
        justify-content: space-between;
    }

    .footer-row > div{
        width: 33%;
        margin-inline: 0;
    }
}