.footer-text-title {
  color: white;
  font-weight: 600;
  font-family: Avenir;
}

.footer-text-description {
  color: darkgray;
  font-family: Avenir;
}

hr {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  color: #a9a9a9;
  border: 0;
  border-top: 1px solid #6d6a6a;
  padding-bottom: 20px;
}

.footer-copyright-text {
  color: darkgray;
  font-family: Avenir;
}
