.hero-title {
  color: #2b84de;
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.nav-button {
  color: #2b84de;
  font-family: Avenir Next Condensed;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  align-self: flex-end;
}
