.navbar a{

    font-weight: bold ;
}

.header {
    box-shadow : 0 8px 20px rgb(0 0 0/6%) ; 
}


@media (max-width: 1024px) {
    .hero-title {
        font-size: 24px !important ;
    }
    .nav-button a{
        font-size: 18px !important; 
    }
}

@media (max-width: 768px) {
    
}