.lawyer-section-title {
  color: #2b84de;
  font-family: Avenir Next;
  font-size: 56.501px;
  font-style: normal;
  font-weight: 600;
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: normal;
}
#HowItWorkSection
{

  background-color: rgba(201,224,250,1);
  background-image: url('../../assets/svg/fgLawyerSection.svg');
  background-size: 100%;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  background-repeat: no-repeat;
}
#HowItWorkSection .container > div {

}
.button-text {
  color: #fff;
  font-family: Avenir Next;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.button-text-container {
  width: 316.899px;
  height: 63.315px;
  flex-shrink: 0;
}

.lawyer-text {
  color: #2b84de;
  font-family: Avenir Next;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.laywer-relative{
    padding : 225px 0;
  width: 50%;
  display: flex;
  align-items: center;
}
.connect-lawer-btn
{
  margin: 1rem;
  display: flex;
  gap: 0.6rem;
}
.lawer-img
{
  flex-grow : 1 ;
  display: flex; 
  justify-content: flex-end;
  align-items: flex-end;

}
.lawer-img img
{
  width : 540px ;
}
@media (max-width:560px)
{
  .lawer-img img
{
  height: 64%;
}

.lawer-img
{
  width: 100%;
  justify-content: center;
  align-items: center;
  align-items: center;
}
#HowItWorkSection
{
  flex-direction: column;
  justify-content: end;
  background-size: cover;
  height: 76vh;
  padding-top: 4rem;
}
.laywer-relative{
  height: 30%;
  width: 100%;
 
}
.lawer-img img
{
  height: 78%;
}
.lawyer-section-title{
  margin-top: 1rem;
}
.lawyer-section-title  h1
{
  margin-left: 1rem;
  width: 90%;
  font-size: 49px;
}


}